<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <h2 th:text="${kysymys.kysymysteksti}"></h2>

        <div>
            <h3 th:text="'Kurssi: ' + ${kurssi.nimi}"> </h3>
            <h4 th:text="'Aihepiiri: ' + ${aihe.nimi}"> </h4>

        </div> 

        <div th:each="vastaus: ${vastaukset}">
            <p th:text="${vastaus.vastausteksti}"></p><strong th:text="${vastaus.oikein}"></strong>
            <form th:action="@{~/kysymykset/poistavastaus/{id}(id=${vastaus.id})}" method="post"><input type="submit" value="Poista"/></form>
        </div>

        <form th:action="@{~/kysymykset/{id}(id=${kysymys.id})}" method="post" >
            <p>Luo uusi vastaus:</p>
            <table>
                <tr>
                    <td>
                        Vastausteksti:
                    </td>
                    <td>
                        <input type="text" name="vastausteksti"required/>
                    </td>
                </tr>
                <tr>

                    <td>
                        Oikein  <input type="radio" name="Oikein" value="Oikein" checked="checked"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Väärin  <input type="radio" name="Oikein" value="Väärin"/>
                    </td>
                </tr>
            </table>

            <input type="submit" value="Luo"/>
        </form>

        <a th:href="@{~/kysymystenhallinta}"><h4>Palaa kysymystenhallintaan</h4></a>
    </body>
</html>
